version: "3.8"

services:
  task-tracker-db:
    image: mongo:7.0
    container_name: task-tracker-db
    networks:
      - task-tracker
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: appdatabase
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://root:root@task-tracker-db:27017/?authSource=admin
    depends_on:
      - task-tracker-db
    networks:
      - task-tracker

  task-tracker-app:
    image: tracker:native
    container_name: task-tracker-app
    networks:
      - task-tracker
    ports:
      - "8080:8080"
    environment:
      - APP_SERVER_PORT=8080
      - MONGODB_HOST=task-tracker-db
      - MONGODB_PORT=27017
      - MONGODB_DBNAME=appdatabase
      - MONGODB_USER=root
      - MONGODB_PASSWORD=root
      - APP_ADMIN_USERNAME=admin
      - APP_ADMIN_PASSWORD=admin
    command: ["./app", "-Dio.netty.noUnsafe=true", "-Dio.netty.leakDetection.level=disabled"]
    depends_on:
      task-tracker-db:
        condition: service_healthy


#  task-tracker-app:
#    image: task-tracker
#    container_name: task-tracker-app
#    networks:
#      - task-tracker
#    ports:
#      - "8080:8080"
#    environment:
#      - APP_SERVER_PORT=8080
#      - MONGODB_HOST=task-tracker-db
#      - MONGODB_PORT=27017
#      - MONGODB_DBNAME=appdatabase
#      - MONGODB_USER=root
#      - MONGODB_PASSWORD=root
#      - APP_ADMIN_USERNAME=admin
#      - APP_ADMIN_PASSWORD=admin
#      - JAVA_OPTS=-XX:+UseG1GC -Dspring.threads.virtual.enabled=true
#    depends_on:
#      task-tracker-db:
#        condition: service_healthy

networks:
  task-tracker:
    driver: bridge